/*-----------------------------------------------------------
# Footer
-------------------------------------------------*/
.site-footer{
	min-height: 50vh; 
	width: 100%; 
	padding: 4rem; 	
}

.site-footer .sub-section-title{
	font-size: var(--h5); 
	text-align: center; 
	display: block; 
}

.learning-content{
	display: flex; 
	justify-content: space-around;
	margin: 1rem 2rem;
}

.learning-content ol{
	margin: 1rem 2rem;
}

@media screen and (max-width: 72rem) {
	.learning-content{
		display: block; 
		text-align: center;
	}	

	.learning-content ol {
		margin-bottom: 2rem;
	}

}