/*---------------------------------------------------
## Header
-------------------------------------------------*/

/*---------------------------------------------------
## Top Bar
-------------------------------------------------*/

header.top-bar{
	background: var(--bg-gradient-img);
	color: var(--color-yellow);
	padding: 1rem 4rem; 
	text-align:center; 
	z-index: 2; 
	position: fixed; 
	top: 0; 
	width: 100%; 
	height : 36px; 
	display: flex; 
	justify-content: space-between;
	align-items: center; 
}

header.top-bar{
	line-height: 36px; 
	margin-bottom: 0; 
}

header.top-bar a{
	color: var(--color-white);
}

@media screen and (max-width: 54rem) {
	.center{
		display:none; 
	}
}



/*---------------------------------------------------
## Top Bar
-------------------------------------------------*/

.hero{
	height: 100vh; 
	background: url(https://cdn.pixabay.com/photo/2015/07/11/23/02/plane-841441_960_720.jpg);
	background-position: center; 
	background-size: cover;
	perspective: 400px;
	transform: skewY(7deg);
}

.hero-content{
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%,-50%) skewY(-7deg);
	z-index: 2; 
	text-align: center; 
	text-shadow:var(--text-shadow);
	width: 80%;
	transition: all 0.3s ease-in-out;
	transform-style: preserve-3d;
}

.hero-content:hover{
	cursor:pointer; 
	transform: scale(1.1) translate(-35%,-35%) rotateY(15deg) rotateX(15deg); 
}

.hero-content:hover .site-under-title{
	transform: rotateY(-15deg)  rotateZ(1deg);
}



.hero a{
	color: var(--color-purple-rgb);
}

.hero a:visited,
.hero a:hover,
.hero a:focus,
.hero a:active{
	color: var(--color-purple-dk);
}

.site-subtitle{
	padding: 3rem 0; 
	margin: 1rem auto 3rem; 
	width: 80%; 
}

.site-subtitle:before{
	content:'';
	position: absolute;
	top: 0;
	left: 0; 
	right: 0; 
	height: 2px;
	background: var(--color-white); 
	box-shadow: var(--text-shadow);
}

.site-subtitle:after{
	content:'';
	position: absolute;
	bottom: 0;
	left: 0; 
	right: 0; 
	height: 2px;
	background: var(--color-white); 
	box-shadow: var(--text-shadow);
}

.hero-content span{
	display: inline-block; 
}

.hero-content:hover span:nth-child(even) {
	animation-delay: 0.15s;
}

.hero-content:hover span{
	animation-name: wiggle;
	animation-duration: 0.3s;
	animation-iteration-count: infinite; 
	animation-timing-function: ease-in-out; 
}

@keyframes wiggle{
	0% {
		transform: translate(0,0) rotate(-5deg);
		text-shadow: 10px 10px 3px rgba(0,0,0,1);
	}
	50%{
		transform: translate(0,10px) rotate(5deg) scale(1.1);
		text-shadow: -10px -10px 3px rgba(0,0,0,1);
	}
	100%{
		transform: translate(0,0) rotate(-5deg);
		text-shadow: 10px 10px 3px rgba(0,0,0,1);
	}
}

.space {
	width: 3.6rem;
}

@media screen and (max-width: 72rem) {
	.space{
		width: 2rem;
	}
}