/*---------------------------------------------------
##CSS Accordions
-------------------------------------------------*/

.nav-title{
  font-size: 1.6rem;
  line-height: 2rem;
  margin: 3rem .5rem 1.6rem;
  color: white;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}


/* Accordion styles */

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
}

/* Icon */
.tab-label:hover {
  opacity: 0.8;
}

.tab-label:after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}

.tab-content {
  max-height: 0px;
  padding: 0 1em;
  color: #efefef;
  transition: all 0.35s;
}

.tab-content ol,
.tab-content ul{
  margin-left: 2rem;
  line-height: 2;
  font-size: 1.2em;
}

.tab-content li{
  counter-increment: inc; 

}

.tab-content li::before{
  content: counter(inc);
  background: #101525; 
  border-radius:5px;
  color: white; 
  padding: 0 5px;
  margin: 0 0.5em 0 0;
  transform: rotateY(-10deg);
  font-size: 0.8em;
  line-height: 1.8em; 
}

/* :checked */
input:checked + .tab-label {
  background: rgba(10, 47, 158, 1);
}

input:checked + .tab-label:after {
  transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 2rem;
}

/*---------------------------------------------------
## Off-screen navigation
-------------------------------------------------*/
.navicon{
  color: #101525; 
  cursor: pointer;
  left: .25rem;
  top:0;
  height: 3rem; 
  width: 3rem; 
  z-index: 20; 
  position: fixed; 
  transform: rotate(90deg); 
  transition: 0.3s all ease-in-out; 
}

.navicon:before,
.navicon:after{
  background: transparent; 
  border-bottom: 2px solid var(--color-white);
  border-top: 1px solid var(--color-white); 
  content: ''; 
  height: 7px; 
  position: fixed; 
  left: 0.5rem; 
  top: 1.25rem; 
  width: 55%; 
  transition: 0.3s all ease-in-out;
}

.navicon::before{
  transform: rotate(90deg);
}

.navicon::after{
  left: 1.0625rem; 
  transform: rotate(-90deg);
}

.nav-check{
  cursor: pointer: 
  left: 0.25rem; 
  height: 3rem; 
  opacity: 0; 
  position: fixed; 
  top: 0.25rem; 
  width: 3rem; 
  z-index: 21; 
  transition: 0.3s all ease-in-out; 
}

.nav-check:checked + .navicon:before, 
.nav-check:checked + .navicon:after{
  background: var(--color-white);
  border: none; 
  height: 2px; 
  left: 0.6875rem;
  top: 1.5rem; 
  transition: 0.2s all ease-in-out ; 
}

.nav-check:checked + .navicon:before{
  transform: rotate(45deg);
} 

.nav-check:checked + .navicon:after{
  transform: rotate(-45deg);
} 
.nav-check:checked ~ nav{
  left: 0; 
  transition: 0.3s all ease-in-out;
}

nav.site-navigation{
  width: 100%; 
  max-width: 320px; 
  height: 100%; 
  position: fixed; 
  top:0; 
  right: 0
  bottom: 0; 
  left: 0; 
  z-index: 0; 
  overflow-y : scroll;
  background: url("https://www.transparenttextures.com/patterns/stardust.png"),
    linear-gradient(
      240deg,
      rgba(164, 88, 255, 1) 0%,
      rgba(53, 68, 255, 1) 40%,
      rgba(10, 47, 158, 1) 80%
    );
}

.nav-check:checked + .navicon,
.nav-check:checked {
  left: 2px; 
}

.nav-check:checked ~ .site-main{
  left: 320px;
}

.social-links-menu{

  display: flex; 
  justify-content: space-between;
}

.social-links-menu li{
  padding-left: 2rem;
}

